/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ICON BOOTSTRAP */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --dark: #2e3134;
  --light: #fff;
  --secondary: #dce1eb;
  --primary: #589fe4;
  --danger: #e5797f;
  --warning: #fbe44b;
  --border: 2px solid var(--dark);
  --border-radius-default: 2px;
  --box-shadow: 2px 2px 0 var(--dark);
  --box-shadow-hover: 4px 4px 0 var(--dark);
  --transition: all 150ms ease;
}

/* -------- CHANGE STYLE COMPONENT BOOTSTRAP ----------*/

/* TEXT STYLE */
.text-dark {
  color: var(--dark) !important;
}
.text-danger {
  color: var(--danger) !important;
}
.text-warning {
  color: var(--warning) !important;
}
.text-primary {
  color: var(--primary) !important;
}

/* BG STYLE */
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-danger {
  background-color: var(--danger) !important;
}
.bg-warning {
  background-color: var(--warning) !important;
}
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}

/* BTN */
.btn {
  border: var(--border) !important;
  border-radius: var(--border-radius-default);
  color: var(--dark) !important;
  padding: 0.5rem 1.5rem;
  transition: all 150ms ease;
}
.btn:hover,
.btn-section:hover {
  transform: translate(-2px, -2px);
}

.btn:active,
.btn-section:active {
  transform: translate(0);
}

.btn-no-hover:hover {
  transform: translate(0) !important;
}

/* BTN SECTION */
.btn-section {
  transition: all 150ms ease;
}

/* BTN PRIMARY */
.btn-primary {
  background-color: var(--primary) !important;
}
.btn-primary:hover,
.btn-primary:active {
  border-color: var(--dark) !important;
}

/* BTN DANGER */
.btn-danger {
  background-color: var(--danger) !important;
}
.btn-danger:hover,
.btn-danger:active {
  border-color: var(--dark) !important;
}

/* BTN WARNING */
.btn-warning {
  background-color: var(--warning) !important;
}
.btn-warning:hover,
.btn-warning:active {
  border-color: var(--dark) !important;
}

/* BTN SECONDARY */
.btn-secondary {
  background-color: var(--secondary) !important;
}
.btn-secondary:hover,
.btn-secondary:active {
  border-color: var(--dark) !important;
}

/* BTN WHITE */
.btn-white {
  background-color: var(--light) !important;
}
.btn-white:hover,
.btn-white:active {
  border-color: var(--dark) !important;
}

/* BOX SHADOW */
.box-shadow-no-hover,
.box-shadow {
  box-shadow: var(--box-shadow);
}
.box-shadow:hover {
  box-shadow: var(--box-shadow-hover);
}

.box-shadow:active {
  box-shadow: var(--box-shadow) !important;
}

/* BORDER */
.border-dark {
  border-color: var(--dark) !important;
}

/* ROUNDED */
.rounded {
  border-radius: var(--border-radius-default) !important;
}

/* TOOLTIPS */
.tooltip-arrow {
  margin-top: 0.5rem;
}
.tooltip-inner {
  margin-top: 0.5rem;
  color: var(--dark);
  background-color: var(--danger);
  font-weight: 500;
  border: var(--border);
}

/* ---------- STYLE SET --------- */

body {
  background-color: var(--light);
  font-family: "Poppins", sans-serif;
  color: var(--dark);
}

section {
  padding: 7rem 0;
}

a {
  text-decoration: none;
}

/* NAVBAR */
.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .icon-menu {
  color: var(--dark);
  font-size: 2rem;
  transition: var(--transition);
}

.navbar-nav .nav-item .nav-link {
  color: var(--dark);
  z-index: 999;
}
.navbar-nav .nav-item .nav-link.active {
  font-weight: 500;
  color: var(--primary);
}

/* HERO */
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.text-label {
  font-size: 0.75rem;
}

.home-illustration {
  width: 100%;
  max-width: 500px;
  height: 500px;
}

/* WORKS */

.filter-button {
  display: flex;
  gap: 0 1.5rem;
}

.card {
  border: var(--border);
  border-radius: var(--border-radius-default);
  transition: all 150ms ease;
  /* cursor: pointer; */
}

.card:hover {
  box-shadow: 2px 2px 0 var(--dark);
  transform: translate(-2px, -2px);
}

.img-card {
  width: 100%;
  height: 278px;
}

.author {
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 0.8;
}
.icon-link {
  display: block;
  opacity: 0;
  font-size: 1rem;
  font-weight: 700;
  transition: all 150ms ease;
}

.card:hover .icon-link {
  opacity: 1;
}

.hide {
  display: none;
  transition: display 150ms ease;
}

.filter-button .actived {
  background-color: var(--warning) !important;
  transition: all 150ms ease;
}

/* CONTACT */
.form-contact label {
  font-size: 0.875rem !important;
  color: var(--dark);
}

.form-contact input,
.form-contact textarea {
  border: var(--border);
  border-radius: var(--border-radius-default);
  background-color: var(--light);
  padding: 1rem;
  transition: all 150ms ease;
  color: var(--dark);
  font-size: 0.875rem;
}
.form-contact textarea {
  height: 150px;
  resize: none;
}
.form-contact input:focus,
.form-contact textarea:focus {
  box-shadow: var(--box-shadow);
  border: var(--border);
  transform: translate(-2px, -2px);
}

.form-contact input::placeholder,
.form-contact textarea::placeholder {
  font-size: 0.875rem;
  opacity: 0.5;
}

.alert {
  border: var(--border);
  border-radius: var(--border-radius-default);
  color: var(--dark);
}

.alert-primary {
  background-color: var(--primary);
}

/* FOOTER */
.footer span {
  font-size: 0.875rem;
  opacity: 0.8;
  font-weight: 400;
  color: var(--dark);
}

/* ---------- RESPONSIVE ---------- */

/* MEDIUM DEVICE */
@media (max-width: 767.98px) {
  /* HERO */
  .home {
    padding: 35rem 0 25rem;
  }

  /* WORKS */
  .filter-button {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  /* CONTACT */
  .detail p {
    font-size: 0.8rem !important;
  }

  /* FOOTER */
  .footer span {
    font-size: 0.7rem;
  }
}
